 @import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

 @keyframes carossel {
     0% {
         background: url(Imagens/Firefly\ rio\ de\ janeiro\ praia\ 13552.jpg) center / cover no-repeat;
     }

     30% {
         background: url(Imagens/Firefly\ rio\ de\ janeiro\ praia\ 13552.jpg) center / cover no-repeat;
     }

     40% {
         background: url(Imagens/Lagoa.jpg) center / cover no-repeat;
     }

     70% {
         background: url(Imagens/Lagoa.jpg) center / cover no-repeat;
     }

     80% {
         background: url(Imagens/Firefly\ rio\ de\ janeiro\ praia\ 65030.jpg) center / cover no-repeat;
     }

     95% {
         background: url(Imagens/Firefly\ rio\ de\ janeiro\ praia\ 65030.jpg) center / cover no-repeat;
     }

     100% {
         background: url(Imagens/Firefly\ rio\ de\ janeiro\ praia\ 13552.jpg) center / cover no-repeat;
     }


 }

 .logo {
     font-family: fantasy;
     font-size: 30px !important;
 }

 nav {
     background-color: rgb(104, 188, 199);
     padding: 4px;
 }

 nav>a {
     text-decoration: none;
     margin: 40px;
 }

 .cards-site {
     height: 40vh;
     animation: carossel 20s infinite;
 }

 .img {
     width: 280px;
     height: 180px;
     padding: 5px;
     border-radius: 18px;
 }

 footer {
     height: 50px;
     width: 100%;
     text-align: center;
 }

 .img-footer {
     width: 250px;
 }

 .card-destino {
     min-width: 40px;
     flex: 1 1 100px;
     display: flex !important;
 }



 .card1 {
     height: 300px;
     position: relative;
     perspective: 800px;
 }

 .front,
 .back {
     width: 250px;
     height: 100%;
     position: absolute;
     backface-visibility: hidden;
     transition: all 1s;
     border: 2px solid rgb(156, 132, 224);
     border-radius: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
 }

 .front {
     overflow: hidden;
     background-color: #272727;
     color: #fff;
 }

 .img-front {
     width: 100%;
     height: 100%;
     object-fit: cover;
     top: 0;
     left: 0;
 }

 .back {
     background-color: #f1e7f0;
     transform: rotateY(-180deg);
 }

 .card1:hover .front {
     transform: rotateY(180deg);
 }

 .card1:hover .back {
     transform: rotateY(0);
 }

 .titulo-h2 {
     background-color: #333;
     padding: 20px;
     color: #fff;
 }

 .preco {
     font-weight: bold;
 }

 .promo {
     background-color: #333;
     padding: 20px;
     color: #fff;
 }

 .promo1 {
     background-color: #198754;
     padding: 18px;
     color: rgb(245, 242, 242);
 }

 .promo2 {
     font-weight: bold;
 }

 .card3 {
     color: rgb(31, 134, 86);
 }

 .caixa {
     background-color: rgb(230, 90, 40);
     color: white;
     border-radius: 3px;
     padding: 1px;
 }

 .estrela {
     color: rgba(255, 68, 0, 0.945);
 }

 .minhaborda {
     border: 1px solid black;
     border-radius: 5px;
     box-shadow: 20px 11px 11px 3px rgba(0, 0, 0, 0.479);
 }

 .center {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100hv;
 }

 .principalform {
     width: 70%;
 }


 main {
     background-color: rgba(218, 213, 221, 0.897);
 }

 .fale-conosco {
     text-align: center;
     padding-top: 50px;
     padding-block-end: 20px;
     font-size: xx-large;
 }

 .footer-info {
     display: flex;
     justify-content: space-between;
 }

 .contact-info {
     font-size: medium;
 }

 .end-info {
     font-size: medium;
 }

 .footer-text {
     text-align: center;
 }

 .img-footer {
     width: 250px;
 }

 .insta {
     background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
     -webkit-background-clip: text;

     background-clip: text;
     -webkit-text-fill-color: transparent;
     cursor: pointer;
 }

 .face {
     color: #3B5998;
     cursor: pointer;
 }

 .tw {
     color: #00acee;
     cursor: pointer;
 }

 .mess {
     color: #3B5998;
     cursor: pointer;

 }

 .whats {
     color: rgb(50, 192, 14);
     cursor: pointer;
 }


 @media screen and (max-width:600px) {
     footer .footer-info {
         display: flex;
         flex-direction: column;

     }
 }